*{
	font-size:12px;
}
body {
    background-color: #F4F4F4;
	font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0px auto auto auto;
	color: #000;
}

.tab {margin-top:2px;margin-bottom:3px;background-color: #F4F4F4;}
.tab table {border:1px solid #52B64C; border-collapse:collapse;width: 100%;}
.tab table td {height:30px;border:1px solid #52B64C; padding-left:5px;}
.bule {background:#D0E6FF; text-align:right;}