<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xinlin.baseInfo.mapper.VarMapper">

	<sql id="queryWhere">
		FROM VARIETY WHERE DEL_FLAG <![CDATA[<>]]> 0
		<if test="CG_CD != null and CG_CD != ''" >AND CG_CD like '%${CG_CD}%'</if>
		<if test="VAR_NM != null and VAR_NM != ''" >AND VAR_NM like '%${VAR_NM}%'</if>
		ORDER BY INPUT_DT DESC
	</sql>
	<!-- 分页查找所有的品种管理  -->
	<select id="pageQuery" resultType="map">
		SELECT 
			ID,CG_CD,VAR_CD,VAR_NM,INPUT_CD,INPUT_NM,INPUT_DT,MODIFY_CD,MODIFY_NM,MODIFY_DT,DEL_FLAG
		<include refid="queryWhere"/>
	</select>
	
	<!-- 新增品种管理 -->
	<insert id="insert" parameterType="map">
		 INSERT INTO VARIETY
		 (
		 	ID
		 	<if test="CG_CD !=null and CG_CD != ''">,CG_CD</if>
		 	<if test="VAR_CD !=null and VAR_CD != ''">,VAR_CD</if>
		 	<if test="VAR_NM !=null and VAR_NM != ''">,VAR_NM</if>
		 	<if test="INPUT_CD !=null and INPUT_CD != ''">,INPUT_CD</if>
		 	<if test="INPUT_NM !=null and INPUT_NM != ''">,INPUT_NM</if>
		 	<if test="INPUT_DT !=null and INPUT_DT != ''">,INPUT_DT</if>
		 	<if test="MODIFY_CD !=null and MODIFY_CD != ''">,MODIFY_CD</if>
		 	<if test="MODIFY_NM !=null and MODIFY_NM != ''">,MODIFY_NM</if>
		 	<if test="MODIFY_DT !=null and MODIFY_DT != ''">,MODIFY_DT</if>
		 	
		 	<if test="DEL_FLAG !=null and DEL_FLAG != ''">,DEL_FLAG</if>
		 ) 
		 values
		 (
		 	#{ID}
		 	<if test="CG_CD !=null and CG_CD != ''">,#{CG_CD}</if>
		 	<if test="VAR_CD !=null and VAR_CD != ''">,#{VAR_CD}</if>
		 	<if test="VAR_NM !=null and VAR_NM != ''">,#{VAR_NM}</if>
		 	<if test="INPUT_CD !=null and INPUT_CD != ''">,#{INPUT_CD}</if>
		 	<if test="INPUT_NM !=null and INPUT_NM != ''">,#{INPUT_NM}</if>
		 	<if test="INPUT_DT !=null and INPUT_DT != ''">,#{INPUT_DT}</if>
		 	<if test="MODIFY_CD !=null and MODIFY_CD != ''">,#{MODIFY_CD}</if>
		 	<if test="MODIFY_NM !=null and MODIFY_NM != ''">,#{MODIFY_NM}</if>
		 	<if test="MODIFY_DT !=null and MODIFY_DT != ''">,#{MODIFY_DT}</if>
		 	
		 	<if test="DEL_FLAG !=null and DEL_FLAG != ''">,#{DEL_FLAG}</if>
		 )
	</insert>
	
	<!-- 通过仓库编号(CG_CD)查询品种管理 -->
	<select id="get" parameterType="String" resultType="map">
		SELECT 
			ID,CG_CD,VAR_CD,VAR_NM,INPUT_CD,INPUT_NM,INPUT_DT,MODIFY_CD,MODIFY_NM,MODIFY_DT,
			DEL_FLAG 
		FROM VARIETY WHERE VAR_CD = #{VAR_CD} AND DEL_FLAG <![CDATA[<>]]> 0
	</select>
	
	<!-- 查询品种的键值对集合,在下拉框中使用 -->
	<select id="queryVar" resultType="map">
		SELECT 
			CG_CD,VAR_CD id,VAR_NM text
		FROM VARIETY WHERE DEL_FLAG <![CDATA[<>]]> 0
	</select>
	
	<!-- 根据仓库编号(CG_CD)进行品种管理修改 -->
	<update id="update" parameterType="map">
		UPDATE VARIETY set id=id
		<if test="CG_CD !=null and CG_CD != ''">,CG_CD=#{CG_CD}</if>
	 	<if test="VAR_CD !=null and VAR_CD != ''">,VAR_CD=#{VAR_CD}</if>
	 	<if test="VAR_NM !=null and VAR_NM != ''">,VAR_NM=#{VAR_NM}</if>
	 	<if test="INPUT_CD !=null and INPUT_CD != ''">,INPUT_CD=#{INPUT_CD}</if>
	 	<if test="INPUT_NM !=null and INPUT_NM != ''">,INPUT_NM=#{INPUT_NM}</if>
	 	<if test="INPUT_DT !=null and INPUT_DT != ''">,INPUT_DT=#{INPUT_DT}</if>
	 	<if test="MODIFY_CD !=null and MODIFY_CD != ''">,MODIFY_CD=#{MODIFY_CD}</if>
	 	<if test="MODIFY_NM !=null and MODIFY_NM != ''">,MODIFY_NM=#{MODIFY_NM}</if>
	 	<if test="MODIFY_DT !=null and MODIFY_DT != ''">,MODIFY_DT=#{MODIFY_DT}</if>
	 	
		WHERE ID = #{ID}
	</update>
	
	<!-- 把删除标识修改为0代表已删除 -->
	<update id="deleteById" parameterType="map">
		UPDATE VARIETY SET DEL_FLAG = 0 WHERE ID IN (${ids})
	</update>
	
</mapper>